@keyframes typing {
  100% {
    left: 100%;
    margin-left: 15px;
  }
}
@keyframes typing2 {
  0% {width: 0%;}
  100% {width: 100%;}
}
@keyframes moveTextUp {
  100% {
    top: -226px;
  }
}
@keyframes blink {
  from, to {border-color: transparent;}
  50% {border-color: var(--lighter-aqua);}
}
@keyframes toLeft {
  50% {
    transform: translate(-30%, 0) scale(1, 1);
  }
}