.keyvisual {
    padding: 80px 40px;
    color: var(--white);
    overflow: hidden;
}
.keyvisual .container {
    max-width: 1400px;
    text-align: center;
}
.keyvisual h1 {
    font-weight: 400;
    font-size: clamp(40px, 40vw, 60px);
}
.keyvisual p {
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
}

/* keyvisual--typing */
.keyvisual--typing {
    background: var(--darker-aqua);
    background-position: center;
}
.keyvisual--typing .container {
    flex-direction: column;
}
.keyvisual--typing h1 {
    display: inline-flex;
}

/* keyvisual--typing-2 */
.keyvisual--typing-2 {
    background: var(--darker-aqua);
}
.keyvisual--typing-2 h1 span {
    animation: typing2 3.5s steps(21) forwards,
                blink .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 1px solid var(--aqua);
}