.keyvisual {
    padding: 80px 40px;
    color: var(--white);
    overflow: hidden;
}
.keyvisual .container {
    max-width: 1400px;
    text-align: center;
}
.keyvisual h1 {
    font-weight: 400;
    font-size: clamp(40px, 40vw, 60px);
}
.keyvisual p {
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
}

/* keyvisual--typing */
.keyvisual--typing {
    background: var(--darker-aqua);
    background-position: center;
}
.keyvisual--typing .container {
    flex-direction: column;
}
.keyvisual--typing h1 {
    display: inline-flex;
}
.dynamic-txt {
    color: var(--aqua);
    font-weight: 500;
    font-size: clamp(40px, 40vw, 60px);
    text-align: left;
    margin-left: 20px;
    height: 65px;
    overflow: hidden;
}
.dynamic-txt li {
    top: 0;
    margin-bottom: 15px;
    animation: moveTextUp 3s steps(3) infinite;
}
.dynamic-txt li,
.dynamic-txt li span {
    position: relative;
}
.dynamic-txt li span::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: var(--darker-aqua);
    border-left: 2px solid;
    animation: typing 1s steps(12) infinite;
}

/* keyvisual--typing-2 */
.keyvisual--typing-2 {
    background: var(--darker-aqua);
}
.keyvisual--typing-2 h1 span {
    animation: typing2 3.5s steps(21) forwards,
                blink .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 1px solid var(--aqua);
}