.country__container {
    padding: 40px 25px;
    background: #E4E2E2;
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 15px;
    max-width: 900px;
    margin: 0 auto;
}
.country__container div {
    background-color: #F5F5F5;
}
.country__container div h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}
.country__container .countryList {
    grid-column: 1;
    grid-row: 1/span 2;
}
.countryList ul li {
    text-align: center;
}
.countryList ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.countryList ul li a:hover,
.countryList ul li a:active {
    font-weight: 700;
    color: red;
    text-decoration: none;
}
.countryList ul {
    padding: 0;
    list-style: none;
}
.country__container .countryDescription {
    grid-column: 2;
    grid-row: 1;
}
.country__container .countryDetails {
    grid-column: 2;
    grid-row: 2;
}