a.readmore {
    font-size: 13px;
    font-family: 'Inter';
    text-align: right;
    display: block;
    margin: 30px;
    text-decoration: none;
    color: #6969d2;
}
.pagination {
    padding: 20px 0;
    text-align: center;
}
.pagination a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding: 5px;
}
.pagination a.active {
    color: #F02121;
}
.pagination a.disabled {
    cursor: auto;
    color: #b7b1b1;
}
.country__container {
    padding: 40px 25px;
    background: #E4E2E2;
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 15px;
    max-width: 900px;
    margin: 0 auto;
}
.country__container div {
    background-color: #F5F5F5;
}
.country__container div h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}
.country__container .country--list {
    grid-column: 1;
    grid-row: 1/span 2;
}
.country--list ul li {
    text-align: center;
}
.country--list ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
}
.country--list ul li a:hover,
.country--list ul li.active a {
    font-weight: 700;
    color: red;
    text-decoration: none;
}
.country--list ul {
    padding: 0;
    list-style: none;
}
.country--description {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    padding: 20px 30px;
}
.country--description h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.country--description figure img {
    width: 40%;
    height: auto;
    display: block;
    margin: 25px auto;
}
.summary {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}
.country--details {
    grid-column: 2;
    grid-row: 2;
}