.modal {
  position: absolute;
  background: rgba(0,0,0,.5);
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* Add Product */
.addProd {
  display: none;
}
.addProd.show {
  display: unset;
}
.addProdContainer {
  display: table;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
}
.addProdBody {
  text-align: left;
}