:root {
    --white: #FFFFFF;
    --black: #000000;
    --gray: #686060;
    --aqua: #41b3aa;
    --lighter-aqua: #92f4f0;
    --dark-aqua: #007d75;
    --darker-aqua: #224744;
    --pink: pink;
    --lavender: lavender;
    --lightseagreen: lightseagreen;
    --azure: azure;
}