h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 36px 23px;
    background: #E4E2E2;
}
.country {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 200px auto;
}
.country > div {
    background-color: #F5F5F5;
}
.country--list {
    grid-column: 1;
    grid-row: 1/span 2;
}
.country--list ul li {
    text-align: center;
}
.country--list ul li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
}
.country--list ul li a:hover,
.country--list ul li.active a {
    font-weight: 700;
    color: red;
    text-decoration: none;
}
.country--list ul {
    padding: 0;
    list-style: none;
}
.country--description {
    grid-column: 2;
    grid-row: 1;
}
.country--details {
    grid-column: 2;
    grid-row: 2;
}

/* Pagination */
.pagination {
    padding: 20px 0;
    text-align: center;
}
.pagination a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding: 5px;
}
.pagination a.active {
    color: #F02121;
}
.pagination a.disabled {
    cursor: auto;
    color: #b7b1b1;
}