.chartBar {
  height: 200px;
  width: 200px;
  animation: chartBar 4s 0.2s infinite ease-in-out running;
}
.check {
  height: 200px;
  width: 200px;
  animation: check 2s 0.2s infinite ease-in-out running;
}

@keyframes chartBar {
  0% {
    fill: green;
  }
  25% {
    fill: yellow;
  }
  50% {
    fill: orange;
  }
  75% {
    fill: red;
  }
  100% {
    fill: green;
  }
}

@keyframes check {
  0% {
    stroke: red;
  }
  50% {
    stroke: green;
  }
}
